{
  "writers": [
    {"type": "tcpSocket", "host": "127.0.0.1", "port": "7777", "reconnectWait": 5000}
  ],
  "formatters": [
    {"type": "charLimit", "limit": 1024},
    "jsonParse",
    "jsonWrap",
    "trailingNewLine"
  ],
  "limits": {
    "persistentConns": 10,
    "messages": 100,
    "messagesTimeframe": 60,
    "logs": 25
  },
  "clientLogLevel": 0,
  "portluck": {
    "timeout": 60000,
    "messageLimit": 1000000
  }
}