{
  "writers": [
    {"type": "tcpSocket", "host": "127.0.0.1", "port": "7777", "reconnectWait": 5000}
  ],
  "formatters": [
    {"type": "charLimit", "limit": 1024},
    "json",
    "trailingNewLine"
  ],
  "limits": {
    "persistantConns": 10,
    "messages": 100,
    "messagesTimeframe": 60
  }
}